@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Çircular STD';
        src: url('../public/font/CircularStd-Bold.woff') format('woff');
    }

    html{
        font-family: inter;
    }

    h1{
        font-family: Circular STD;
    }
}